<div id="search-note-wrapper">
    <div id="search">
        <div class="input-group">
            <input id="address" type="textbox" placeholder="note name.." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="addressSearch">Search</button>
            </span>
        </div>
    </div>
    <div id="note-results">
        <div class="note">
            <div> 
                <strong>note name: </strong> 
                <span class="note-name"></span> 
            </div>  
            <div> 
                <strong>content: </strong>
                <span class="note-content"></span>
            </div>  
            <div> 
                <strong>Location: </strong>  
               <span class="note-location"></span>  
            </div>  
            <div class="note-content-wrapper">
                <strong>content: </strong>
               <div class="note-content"></div>
            </div>  
        </div>
    </div>
</div>

